body {
    font-family: sans-serif;
    color: lightgray;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

/* ------------------------------------------------------------------------------------------- Background Image */

.background-image {
    width: 100%;
    height: auto;
    background: url("/assets/images/cloisters.jpg") no-repeat bottom right fixed; /* Background image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    border: 0;
}

/* ------------------------------------------------------------------------------------------- Intro page */

.black-background {
    background-color: #000; /* Black background whilst animation is happening */
    opacity: 1;
}

.js-solemnly-swear {
    width: 100%;
    height: 100%;
}

.solemnly-overlay {
    margin: auto;
    margin-top: 25%; /* Changed from 40% */
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#solemnly {
    font-size: 200%;
    font-family: monospace;
    color: #fff;
    animation: fade 8s;
    animation-fill-mode: forwards;
    z-index: 6;
}

/* ------------------------------------------------------------------------------------------- Animation */

@keyframes fade {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.click-to-enter {
    width: 100%;
    align-items: center;
}

#enter {
    font-size: 150%;
    font-family: monospace;
    color: #fff;
    text-align: center;
    animation: fade-in 10s;
}

/* ------------------------------------------------------------------------------------------- Core page */

#navButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.button {
    background-color: rgba(218,165,32,0.9);
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 1px 1px 2px black, 0 0 5px rgb(255,255,255);
    font-size: 75%; /* Changed from 100% */
}

#logo {
    margin: 0 auto;
    margin-top: 5%; /* Changed from 100px */
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 25px;
    width: 60%; /* Changed from 80% */
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

/* ------------------------------------------------------------------------------------------- House selectors and Q+As */

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page-content {
    height: 85%;
    flex-direction: row;
    width: 90%;
    text-align: center;
    margin: auto;
}

.choose-house, .question-text {
    font-size: 300%; /* Changed from 400% */
    text-shadow: 3px 3px 4px black;
    text-align: center;
    background-color: rgba(218,165,32,0.8);
    border-radius: 25px;
    width: 50%; /* Added */
    margin: auto; /* Added */
    margin-top: 3%; /* Added */
    margin-bottom: 3%; /* Added */
}

.overlay {
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.house, .answer {
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    border-radius: 25px;
    border: 2px solid #000;
    box-shadow: 1px 1px 2px black, 0 0 5px rgb(255,255,255);
}

.house-text, .answer-text {
    text-align: center;
    font-size: 200%; /* Changed from 300% */
    font-weight: bold;
}

.house-selector, .answer-selector {
    width: 24%; /* Changed from 25% */
    height: 100%;
}

.gryffindor .answer, .gryffindor-color {
    background-color: #d74f40;
    color: #fbb928;
}

.slytherin .answer, .slytherin-color {
    background-color: #005d4a;
    color: #a7acaf;
}

.hufflepuff .answer, .hufflepuff-color {
    background-color: #fbb92f;
    color: #07080c;
}

.ravenclaw .answer, .ravenclaw-color {
    background-color: #203268;
    color: #886031;
}

#question-text, #settings-text, #how-to-play-text {
    font-size: 250%;
    color: #07080c;
    text-shadow: 2px 2px 3px black;
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 25px;
    margin: auto;
    margin-bottom: 5%; /* Changed from 10% */
    margin-top: 5%;  /* Added */
    width: 75%;
    text-align: center;
}

#js-quiz-page {
    padding-top: 5%;
}

.answer-color {
    background-color: #d74f40;
    color: #fbb928;
}

.answer-overlay {
    width: 100%;
    margin: 0 auto;
}

.progress-position {
    height: 25px;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%; /* Changed from 35% */
}

.progress-overlay {
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    height: 200%; /* Changed from 50px */
    width: 50%;
    display: flex;
    justify-content: center;
}

progress { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;
    height: 70%; /* Changed from 25px */
    width: 95%;  /* Changed from 90% */
    border-radius: 15px;
    align-self: center;
}

progress[value]::-webkit-progress-bar { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
  background-color: #a0a150;
  border-radius: 15px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #07080c, #000);

    border-radius: 152px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#score, #timer {
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    color: #07080c;
    font-size: 25px;
}

/* ------------------------------------------------------------------------------------------- Results */

.result-text {
    font-size: 300%;
    color: #07080c;
    text-shadow: 2px 2px 3px black;
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 15px;
    width: 75%;
    margin: auto;
    text-align: center;
    margin-top: 5%;  /* Changed from 10% */
    margin-bottom: 2%;  /* Changed from 5% */
}

.score {
    font-size: 32px;
    color: #07080c;
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    padding: 25px;
    margin: auto;
    margin-bottom: 2%;  /* Changed from 5% */
    height: 50px;
    width: 25%;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 5%;
}

.result-image-container {
    text-align: center;
    margin-bottom: 2%;  /* Changed from 5% */
}

.result-image {
    width: 50%;
    height: auto;
    border-radius: 25px;
}

.quote {
    font-size: 25px;
    color: #07080c;
    background-color: rgba(255,255,255,0.6);
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.result-quote {
    font-size: 100%;
}

#result-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px;
}

/* ------------------------------------------------------------------------------------------- Instructions */

#how-to-play-overlay {
    width: 75%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 25px;
    margin: 0 auto;
}

.how-to-play-p {
    color: #000;
    font-size: 150%;  /* Changed from 100% */
    font-weight: bold;
    list-style: none;
}

ul {
    padding: 0;
}

/* ------------------------------------------------------------------------------------------- Footer */

footer {
    background-color: rgba(255,255,255,0.4);
    padding: 3px;
    border-radius: 5px;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 10px;
}

footer p {
    font-size: 14px;
    margin: 0;
    color: black;
}

/* ------------------------------------------------------------------------------------------- Responsive design */

@media screen and (max-width: 992px) { /* Media queries for tablet */
    #solemnly {
        font-size: 200%;
    }
    #enter {
        font-size: 150%;
    }
    #logo {
        margin-top: 10%;
    }
    .house-text, .answer-text {
        font-size: 125%;
    }
    .button {
        font-size: 65%;
    }
    .overlay {
        height: 125px;
    }
    .choose-house, .question-text {
        margin-top: 20%;
        margin-bottom: 10%;
        font-size: 200%;
    }
    #question-text, #settings-text, #how-to-play-text {
        font-size: 200%;
        margin-top: 5%;
    }
    .house-selector, .answer-selector {
        width: 100%;
        height: 55%;
        margin-bottom: 3px;
    }
    #score, #timer {
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) { /* Media queries for mobile */
    #solemnly {
        font-size: 125%;
    }
    #enter {
        font-size: 100%;
    }
    #logo {
        margin-top: 10%;
    }
    .house-text, .answer-text {
        font-size: 75%;
    }
    .button {
        font-size: 45%;
    }
    .overlay {
        height: 100px;
    }
    .choose-house, .question-text {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 150%;
    }
    #question-text, #settings-text, #how-to-play-text {
        font-size: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .house-selector, .answer-selector {
        width: 100%;
        height: 45%;
        margin-bottom: 3px;
    }
    #score, #timer {
        font-size: 60%;
        height: 100%;
    }
    .result-text {
        font-size: 150%;
    }
    h2 {
        font-size: 100%;
        padding-top: 5%;
    }
    .result-quote {
        font-size: 75%;
    }
    .quote {
        padding: 10px;
    }
    .result-image {
        width: 80%;
    }
    .how-to-play-p {
        font-size: 60%;
    }
}