body {
    font-family: sans-serif;
    color: lightgray;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}

/* ------------------------------------------------------------------------------------------- Background Image */

body {
    width: 100%;
    height: auto;
    background: url("/assets/images/cloisters.jpg") no-repeat bottom right fixed; /* Background image */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    border: 0;
}

/* ------------------------------------------------------------------------------------------- Core page */

#navButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.button {
    background-color: rgba(218,165,32,0.9);
    padding: 10px;
    border-radius: 10px;
    color: #000;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 1px 1px 2px black, 0 0 5px rgb(255,255,255);
}

/* Check buttons aren't button-styled!!!!!!!!!!!!!!!!!!!!!!! */

#logo {
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 25px;
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.copyright { /* Check this doesn't look weird */
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* ------------------------------------------------------------------------------------------- House selectors and Q+As */

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* FIX LAYOUT */
/* main-section is flex container, page content needs to be centered */

.page-content {
    height: 85%;
    flex-direction: row;
}

.choose-house {
    font-size: 60px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
}

.overlay {
    height: 60%;
    width: 75%;
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.house, .answer {
    width: 100%;
    height: 80%;
    justify-content: space-evenly;
    border-radius: 25px;
    border: 2px solid #000;
    box-shadow: 1px 1px 2px black, 0 0 5px rgb(255,255,255);
}

.house-text, .answer-text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.house-selector, .answer-selector {
    width: 23%;
    height: 100%;
}

.gryffindor .answer, .gryffindor-color {
    background-color: #d74f40;
    color: #fbb928;
}

.slytherin .answer, .slytherin-color {
    background-color: #005d4a;
    color: #a7acaf;
}

.hufflepuff .answer, .hufflepuff-color {
    background-color: #fbb92f;
    color: #07080c;
}

.ravenclaw .answer, .ravenclaw-color {
    background-color: #203268;
    color: #886031;
}

#question-text, #settings-text, #how-to-play-text {
    font-size: 60px;
    color: #07080c;
    text-shadow: 2px 2px 3px black;
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
}

.answer-color {
    background-color: #d74f40;
    color: #fbb928;
}

.answer-overlay {
    height: 250px;
}

.progress-position {
    height: 25px;
    width: 75%;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.progress-overlay {
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    height: 50px;
    width: 550px;
}

progress { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
    -webkit-appearance: none;
    appearance: none;
    z-index: 2;
    height: 25px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
}

progress[value]::-webkit-progress-bar { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
  background-color: #fbb928;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value { /* Thanks to https://css-tricks.com/html5-progress-element/ for the progress bar */
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #d74f40, #d74f60);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* ------------------------------------------------------------------------------------------- Results */

#result-text {
    font-size: 60px;
    color: #07080c;
    text-shadow: 2px 2px 3px black;
    background-color: rgba(218,165,32,0.5);
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
}

.score {
    font-size: 32px;
    color: #07080c;
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
    height: 50px;
}

h2 {
    margin: 0;
}

.result-image {
    width: 30%;
    height: auto;
    border-radius: 25px;
}

.quote {
    font-size: 25px;
    color: #07080c;
    background-color: rgba(255,255,255,0.2);
    border-radius: 25px;
    padding: 25px;
    margin: 0 auto;
    height: 50px;
}

#result-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px;
}

/* ------------------------------------------------------------------------------------------- Settings */

#settings-overlay, #how-to-play-overlay {
    height: 250px;
    width: 60%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 25px;
    z-index: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 25px;
    margin: 0 auto;
}

.settings-p {
    color: #000;
    font-size: 24px;
    font-weight: bold;
}

.settings-module {
    align-self: center;
    text-align: center;
}

/* Thanks to https://www.w3schools.com/howto/howto_css_switch.asp for this code */

.switch { /* The switch - the box around the slider */
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: center;
}

.switch input { /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.slider { /* The slider */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}